.advantages {
  padding: 50px 20px 60px;

  @media (min-width: $tablet-width) {
    padding: 60px 0 85px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    padding: 96px 40px 120px;
    z-index: 1;
  }
}

.advantages__title {
  margin: 0;
  padding: 0  0 4px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: $base-primary;
}

.advantages__description {
  margin: 0;
  padding: 0 0 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    padding: 0 0 47px;
    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 156px;
  }
}

.advantages__list {
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 103px;
    padding: 0 102px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    padding: 0;
    margin: 0;
    grid-gap: 30px;
  }
}

.advantages__item-1 {
  position: relative;

  &::before {
    content: "";
    background-image: url("/img/feature-speed.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 52px;
    height: 56px;
    position: absolute;
    top: -68px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      top: 3px;
      left: -47px;
    }

    @media (min-width: $desktop-width) {
      top: -76px;
      left: 160px;
    }
  }
}

.advantages__item-2 {
  position: relative;

  &::before {
    content: "";
    background-image: url("/img/feature-fit.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 52px;
    height: 56px;
    position: absolute;
    top: -68px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      top: 3px;
      left: -47px;
    }

    @media (min-width: $desktop-width) {
      top: -76px;
      left: 160px;
    }
  }
}

.advantages__item-3 {
  position: relative;

  &::before {
    content: "";
    background-image: url("/img/feature-energy.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 52px;
    height: 56px;
    position: absolute;
    top: -68px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      top: 3px;
      left: -47px;
    }

    @media (min-width: $desktop-width) {
      top: -76px;
      left: 160px;
    }
  }
}

.advantages__item-4 {
  position: relative;

  &::before {
    content: "";
    background-image: url("/img/feature-ecology.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 52px;
    height: 56px;
    position: absolute;
    top: -68px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      top: 3px;
      left: -47px;
    }

    @media (min-width: $desktop-width) {
      top: -76px;
      left: 160px;
    }
  }
}
