.filter {
  padding: 0 17px 40px 23px;

  @media (min-width: $tablet-width) {
    padding: 0 17px 44px 20px;
    display: grid;
    grid-template-columns: repeat(3, 213px);
    grid-gap: 10px 40px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding: 0;
    width: 318px;
  }
}

.filter__group {
  margin: 0;
  padding: 0 0 30px;
  border: none;
  text-align: left;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.filter__title {
  padding: 0 0 20px 0;
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.filter__list {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

.filter__button-wrap {
  @media (min-width: $tablet-width) {
    grid-column: 1 / 4;
    text-align: center;
    margin: 0 0 0 15px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.filter__submit {
  width: 280px;
  padding: 8px;
  margin: 0 0 20px 0;
  background-color: $base-primary;
  color: $base-white;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;

  &:hover,
  &:focus {
    background-color: $primary-lighter;
    outline: none;
  }

  &:active {
    background-color: $primary-darker;
  }

  &:disabled {
    background-color: $base-grey;
  }

  @media (min-width: $tablet-width) {
    width: 137px;
    margin: 0 15px 0 0;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
  }
}

.filter__reset {
  width: 280px;
  padding: 8px;
  background-color: $base-white;
  color: $base-primary;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;

  &:hover,
  &:focus {
    color: $base-white;
    background-color: $primary-lighter;
    outline: none;
  }

  &:active {
    background-color: $primary-darker;
  }

  &:disabled {
    background-color: $base-grey;
  }

  @media (min-width: $tablet-width) {
    width: 120px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
  }
}

.filter__range {
  width: 280px;
  padding: 10px 0 2px;

  @media (min-width: $tablet-width) {
    width: 223px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
  }
}

.filter__range-track {
  margin: 0 9px 37px 11px;
  position: relative;
  height: 2px;

  &::before {
    content: "";
    position: absolute;
    height: 4px;
    left: 0;
    width: 244px;
    z-index: 2;
    background-color: $primary-lighter;

    @media (min-width: $tablet-width) {
      width: 180px;
    }

    @media (min-width: $desktop-width) {
      width: 274px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    right: 0;
    width: 250px;
    z-index: 1;
    background-color: $light-grey;

    @media (min-width: $tablet-width) {
      width: 200px;
      right: 0;
    }

    @media (min-width: $desktop-width) {
      width: 200px;
      right: -100px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 192px;
    margin: 0 0 33px 11px;
  }
}

.filter__range-thumb {
  position: absolute;
  top: 50%;
  width: 24px;
  height: 24px;
  border: 2px solid $primary-lighter;
  background-color: $base-white;
  border-radius: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);

  &:hover {
    background-color: $primary-opacity;
  }
}

.filter__range-thumb--start {
  left: 0;
}

.filter__range-thumb--end {
  right: 0;

  @media (min-width: $tablet-width) {
    right: -11px;
  }

  @media (min-width: $tablet-width) {
    right: -100px;
  }
}

.filter__range-input {
  padding: 9px 10px;
  width: 118px;
  text-align: center;
  border: 2px solid $primary-lighter;
  border-radius: 4px;

  &:focus {
    outline: none;
    border: 2px solid $primary-darker;
  }

  &:disabled {
    background-color: $lightest-grey;
    border: 2px solid $light-grey;
  }

  @media (min-width: $tablet-width) {
    width: 87px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    font-size: 16px;
    line-height: 24px;
    padding: 7px 10px;
  }
}

.filter__range-input--min {
  margin: 0 40px 0 0;

  @media (min-width: $desktop-width) {
    margin: 0 45px 0 0;
  }
}

.filter__range-input--max {
  margin: 0;
}

.filter__group-radio {
  padding: 0 0 15px;

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.filter__radio,
.filter__checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 0 20px;
}

.filter__radio-input,
.filter__checkbox-input {
  display: none;
}

.filter__radio-input:disabled ~ .filter__radio-indicator,
.filter__checkbox-input:disabled ~ .filter__checkbox-slider {
  border-color: $light-grey;
  cursor: not-allowed;
}

.filter__radio-input:disabled ~ .filter__radio-label,
.filter__checkbox-input:disabled ~ .filter__checkbox-label {
  color: $base-grey;
  cursor: not-allowed;
}

.filter__radio-indicator,
.filter__checkbox-slider {
  width: 24px;
  height: 24px;
  border: 2px solid $base-grey;
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
}

.filter__radio-input:checked ~ .filter__radio-indicator {
  background-color: $base-white;
  border-color: $base-primary;
}

.filter__radio-input:checked ~ .filter__radio-indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background-color: $base-primary;
  border-radius: 50%;
}

.filter__radio-label,
.filter__checkbox-label {
  font-size: 16px;
  line-height: 24px;
}

.filter__group-checkbox {
  padding: 0 0 10px;

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}


.filter__checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Скрытие оригинального чекбокса */
.filter__checkbox-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

/* Стили для фона переключателя */
.filter__checkbox-slider {
  margin: 0;
  position: relative;
  display: block;
  height: 24px;
  width: 42px;
  background-color: $base-grey;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

/* Стили для положения переключателя */
.filter__checkbox-slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: $base-white;
  transition: transform 0.3s ease;
}

/* Стили для переключения в состояние "включено" */
.filter__checkbox-input:checked + .filter__checkbox-slider {
  background-color: $base-primary;

  border: 2px solid $primary-lighter;
}

.filter__checkbox-input:checked + .filter__checkbox-slider::before {
  transform: translateX(18px);
}

/* Стили для фона переключателя в состоянии "выключено" */
.filter__checkbox-input:disabled + .filter__checkbox-slider {
  background-color: $light-grey;
  opacity: 0.6;
}

/* Стили для положения переключателя в состоянии "выключено" */
.filter__checkbox-input:disabled ~ .filter__checkbox-label {
  color: $base-grey;
}

.filter__radio:hover .filter__radio-indicator,
.filter__checkbox:hover .filter__checkbox-slider {
  background-color: $primary-opacity;
}

.filter__checkbox-label {
  font-size: 16px;
  line-height: 24px;
  margin-left: 8px;
}
