.footer-nav {
  padding: 20px 0;
  text-align: left;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.footer-nav__title {
  margin: 0;
  padding: 16px 0 14px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: $base-primary;

  @media (min-width: $tablet-width) {
    padding: 0 0 12px;
  }
}

.footer-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.footer-nav__item {
  margin: 0 0 4px;
  padding: 8px 0;

  &:hover,
  :focus {
    outline: none;
    color: $primary-lighter;
  }

  &:active {
    color: $primary-darker;
  }
}
