.pagination {
  display: flex;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.pagination__item {
  margin-right: 20px;
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: $base-white;
  text-decoration: none;
  color: $base-primary;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: $primary-lighter;
    color: $base-white;
  }

  &:active {
    background-color: $primary-darker;
    color: $base-white;
  }

  &:disabled {
    background-color: $light-grey;
    color: $base-white;
  }

  @media (min-width: $tablet-width) {
    &--prev {
      width: 104px;
    }

    &--next {
      width: 104px;
    }
  }
}

.pagination__link-text {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.pagination__link--current {
  font-weight: 600;
  color: $base-black;
}

.pagination__icon {
  width: 10px;
  height: 10px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
