.swiper-slide {
  padding: 20px 20px 60px;

  &--white {
    background-color: $swiper-white;
  }

  &--purple {
    background-color: $swiper-purple;
  }

  &--black {
    background-color: $swiper-black;
  }

  @media (min-width: $tablet-width) {

    padding: 0 0 188px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 20%;
      background-color: $base-white;
      z-index: -1;

      @media (min-width: $desktop-width) {
        display: none;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding: 30px 0 84px 58px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.swiper__text {
  @media (min-width: $tablet-width) {
    order: 1;
    padding: 60px 80px 308px;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 80px 35px 0;
    grid-column: 2 / 3;
    text-align: left;
  }
}

.swiper__image {
  @media (min-width: $tablet-width) {
    order: 2;
    position: absolute;
    bottom: 0;
    left: 20%;
  }

  @media (min-width: $desktop-width) {
    position: static;
    padding: 0;
    grid-column: 1 / 2;
  }
}

.swiper__label {
  margin: 0;
  padding: 0 0 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: $base-primary;
}

.swiper__title {
  margin: 0;
  padding: 0 0 10px;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;

  @media (min-width: $tablet-width) {
    padding: 0 0 15px 0;
    font-size: 56px;
    line-height: 80px;
  }
}

.swiper__description {
  margin: 0;
  padding: 0 0 20px;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    padding: 0 20px 20px;
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 20px 40px 0;
  }
}

.swiper__old-price {
  padding: 0 6px 0 0;
  font-size: 16px;
  line-height: 32px;
  text-decoration: line-through;
  color: $base-primary;
}

.swiper__price {
  padding-right: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.swiper__button {
  width: 113px;
  padding: 8px 0;
  color: $base-white;
  background-color: $base-primary;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: $primary-lighter;
  }

  &:active {
    background-color: $primary-darker;
  }

  &:disabled {
    background-color: $base-grey;
  }
}

.swiper-pagination {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.swiper-button-prev {
  width: 20px;
  height: 100%;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border: none;
  top: 22px;
  left: 0;

  &:hover {
    background: linear-gradient(90deg, $base-white 0%, rgba(255, 255, 255, 0) 100%);
  }

  &::after {
    display: none;
  }

  @media (min-width: $tablet-width) {
    top: -72px;
    left: 30px;
  }

  @media (min-width: $desktop-width) {
    top: 20px;
    left: 30px;
  }
}


.swiper-button-next {
  width: 20px;
  height: 100%;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  top: 22px;
  right: 0;

  &:hover {
    background: linear-gradient(90deg, $base-white 0%, transparent 100%);
  }

  &::after {
    display: none;
  }

  @media (min-width: $tablet-width) {
    top: 20px;
    right: 30px;
  }
}

.swiper-button-prev::before,
.swiper-button-next::before {
  content: "";
  display: none;
}
