$lightest-grey: #f8f8f8;
$base-black: #333333;
$base-white: #ffffff;
$base-primary: #7859cf;
$base-secondary:#f0ebff;
$primary-lighter: #9070ec;
$base-grey: #bdbdbd;
$light-grey: #e2e2e2;
$primary-darker: #593cac;
$swiper-white:#f3ebe1;
$swiper-purple: #eae6fc;
$swiper-black: #e5e6e8;
$primary-opacity: rgba(120, 89, 207, 0.25);
